<!DOCTYPE html>

<head>
    <title>Users Data</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
        <h1>User Details</h1>
        <br>
        <% for(let i=0;i<data.length;i++){ %>
            <h3>User <%- i+1 %>  </h3>
            <h4>Name : <%- data[i].name %></h4> 
            <h4>College : <%- data[i].college %></h4>
            <h4>Semester : <%- data[i].sem %></h4>
            <h4>Phone : <%- data[i].phone %></h4> 
            <h4>Mail : <%- data[i].email %></h4> 
            <h4>Experience : <%- data[i].exp %></h4> 
            <h4>Why : <%- data[i].why %></h4> 
            <h4>Time : <%- data[i].timestamp %></h4> 
            <br>
            <% } %>

</body>